<!-- 
      <nav class="navbar bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Offcanvas navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>-->

<div class="main">
  <nav>
    <div class="logo">
      <h2>Stomach Klinic</h2>
    </div>
    <div class="section">
      <a href="#">Menu</a>
      <a href="#">Event</a>
      <a href="#">About Us</a>
      <a href="#">Contact</a>
    </div>
  </nav>

  <div class="text">
    <h1>
      Made By Nigerians
      <br />
      Enjoyed By Everyone
    </h1>
  </div>
    <div>
      <input
      class="search"
        type="text"
        name="searchTerm"
        placeholder="Enter delivery address"
      />
    
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Deliver Now
      </button>
      <ul class="dropdown-menu">
        <li><a class="Deliver Now" href="#">Action</a></li>
        <li><a class="Schedule For Later" href="#">Another action</a></li>
      </ul>
    </div>

    <div class="details4">
      <h2 id="intro">Welcome To Stomach Klinic</h2>
      <h2 class="details5">
        Welcome to our world of delectable meals <br> and exotic drinks. We hope to
        satisfy <br> you with our delicious and affordable meals <br> served under a great
        ambience.
      </h2>
      <a class="order" href="#">
        <button class="submit" type="submit">Book Table</button>
      </a>
    </div>

    <div class="details2">
      <h1>Healthy and Delicious food to <br />make every occasion special</h1>
    </div>
    <div class="details3">
      <h2>
        Food is an important part of any <br>celebration in all nations of the
        world,<br> regardless of culture or religion.
      </h2>
    </div>

    <a class="link" href="./login"><H1>Get Started</H1></a>
  </div>
</div>
