

.main{
  background-image: url('../images/image.png');
  background-size:cover;
  border-radius: 1%;
  background-repeat: no-repeat;
  position: relative;
  height: 600px;
  margin: 0%;
  padding: 0%;
  margin-bottom: 0%;
}
 
.logo{
    text-align: left;
    font-size: 120%;
}
h2{
  padding-left: 20px;
  padding-top: 0%;
  margin: 0%;
}

a{
    text-decoration: none;
    color: white;
    font-size: 100%;
}

nav 
  {
    display: flex;
    justify-content: space-between;
    color: white;
    
  }
  
  .section a {
    margin-left: 50px;
    padding-right: 10px;
  }


.start{
    text-align: center;
    padding: 15%;
    color: white;
    margin-bottom: 0%;
    margin-top: 0%;


}