<div class="mainpass">
    <div class="text">
      <h2>Reset Password?</h2>
    </div>
  
    <div class="input">
      <label class="name" for=""
        >New Password: <br>
        <input type="text" class="placeholder" placeholder="Enter New Password" />
        </label
      ><br>
      <label class="name" for=""
        >Comfirm New Password: <br>
        <input type="text" class="placeholder" placeholder="Comfirm New Password" />
        </label
      >
  </div>
  
  <a href="./dashboard"><button class="reset"   type="reset">Reset</button></a>
  </div>
