<router-outlet />

<div class="container">
  <h1>Registration Page</h1>
  <hr />
  
</div>
<form action="post">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="title" for="text">
          FullName
          <br />
          <input class="box" type="text" />
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="title" for="number"
        >Phone Number
        <br />
        <input class="box" type="text" />
      </label>
    </div>
    <div class="form-group">
      <label class="title" for="number"
        >Address
        <br />
        <input class="box" type="text" />
      </label>
    </div>
    <div class="form-group">
      <label class="title" for="number">
        Email Address
        <br />
        <input class="box" type="text" placeholder="Optional" />
      </label>
    </div>

    <a href="dashboard/dashboard.component.html"><div class="submit">
      <button type="submit" (click)="enter()">Enter</button>
    </div></a>
    
  </div>
</form>

<!-- <table class="table"  border="20px">
<thead>
  <td>
    Name
  </td>
  <td>
    Age
  </td>
</thead>
<tbody>
  <td>
    {{title}}
  </td>
  <td>
    {{number}}
  </td>
  
</tbody>
</table> -->
