<div class="main">
  <nav>
      <div class="logo">
        <h2>Stomach Klinic</h2>
      </div>
      <div class="section">
        <a href="./dashboard">Login</a>
        <a href="#">Menu</a>
        <a href="#">Event</a>
        <a href="#">About Us</a>
        <a  href="#">Contact</a>
      </div>
    </nav>


  <h1 class="log-name">LOGIN</h1>
  <div class="sign-in-box">
    <a href="https://www.facebook.com/"> <input class="sign-in" type="button" value="Login With Facebook"></a>
    <a href="https://www.google.com.ng/"> <input class="sign-in" type="button" value="Login With Google"></a>
   </div>
</div>

<div class="container2">
  <div class="test">
    <div class="login-box">
      <h2>OR</h2>
      <input class="log" type="text" placeholder="Phone Number" /><br>
      <input class="log" type="password" placeholder="Password" />
      <a href="./forgotpassword"><h5>Forgot Password</h5></a>
      <a href="./login"><button class="login" type="submit">Login</button></a>
      <h4>Not A Customer? <a href="./register">Register Now</a></h4>
    </div>

