<div class="logo">
  <h2> Stomach Klinic</h2>

  <nav>
      <div class="left-section">
        <!-- Left section navigation items -->
        <a href="#">Menu</a>
        <a href="#">Event</a>
      </div>
      <div class="right-section">
        <!-- Right section navigation items -->
        <a href="#">About Us</a>
        <a href="#">Contact</a>
      </div>
    </nav>



<div class="container">
  <h1>Registration Page</h1>
  <hr />
  
</div>
<form action="post">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="title" for="text">
          FullName
          <br />
          <input class="box" type="text" />
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="title" for="number"
        >Phone Number
        <br />
        <input class="box" type="text" />
      </label>
    </div>
    <div class="form-group">
      <label class="title" for="number"
        >Address
        <br />
        <input class="box" type="text" />
      </label>
    </div>
    <div class="form-group">
      <label class="title" for="number">
        Email Address
        <br />
        <input class="box" type="text" placeholder="Optional" />
      </label>
    </div>

    <a href="./login"><div class="submit">
      <button type="submit" (click)="enter()">Enter</button>
    </div></a>
    
  </div>
</form>

