
.container{
    background-image: url(../images/register.jpg);
    padding-left: 30%;
    padding-right: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.box{
    background-color: orange;
    height: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    
}
.input{
    text-align: right;
    height: 30px;
    
}
.sub-label{
    padding: auto;
    }

/* h3{
    padding: 0%;
    margin: 0%;
} */
.label{
    padding: 0%;
    text-align: left;
    width:150px;
margin-bottom:0%
}
    /* 
}
form  { display: table;      }
label { display: table-cell; }
input { 
    display: table-cell;
    display: block; 
}

::placeholder{
    text-align: center;
}

table{
    display: table-cell;

}

.container{
    margin: auto;
    padding-left: 300%;
    padding-right: 300%;
}

.box{
   text-align: center;
    height: 100%;
    width: 100%;
    background-color: orange;
    margin-top: 0%;
}
 */
