

<div class="container">
  <div class="box">
    <h2>Register Now To Order More Delicious Meal </h2>
    <form action="">
    
    <div class="sub-label">
      <label class="label" for="text"><h3>Name:</h3>
        <input class="input" type="text" placeholder="FirstName">         
      </label>
    </div>
    <div class="sub-label">
      <label class="label" for="text"><h3>Name:</h3>
        <input class="input" type="text" placeholder="LastName">
      </label>
    </div>
    <div class="sub-label">
      <label class="label" for="text"><h3>Name:</h3>
        <input class="input" type="text" placeholder="LastName">
      </label>
    </div>
    
   <div class="sub-label">
    <label class="label" for="number">
      <h3>Phone Number:</h3><input
      class="input"
        type="number"
        id="input">
    </label>
   </div>
   <div class="sub-label">
    <label class="label" for="text">
      <h3>Email:</h3> <input class="input" type="text" placeholder="Optional">
    </label>
   </div>
   <div class="sub-label">
    <label class="label" for="text">
      <h3>State:</h3> <input class="input" type="text" >
    </label>
   </div>
   <div class="sub-label">
    <label class="label" for="text">
      <h3>Address:</h3> <input class="input" type="text" >
    </label>
   </div>
   <div>
    <label class="label" for="text">
      <h3>Password:</h3> <input class="input" type="password">
    </label>
   </div>
   <div class="sub-label">
    <label class="label" for="text">
      <h3>Comfirm Password:</h3> <input class="input" type="text">
    </label>
   </div>
    </form>
  </div>
</div>

 








